<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">




	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<context:component-scan base-package="com.xworks.commonmodule" />



	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		id="localSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource" />
		<property name="packagesToScan" value="com.xworks.commonmodule.entity" />
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		id="propertyPlaceholderConfigurer">
		<property name="location" value="classpath:/dataBase.properties" />
	</bean>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="driverManagerDataSource">
		<constructor-arg value="${driverManagerDataSource.url}" />
		<constructor-arg value="${driverManagerDataSource.name}" />
		<constructor-arg value="${driverManagerDataSource.password}" />
		<property name="driverClassName" value="${driverManagerDataSource.driverClassName}" />
	</bean>



	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com"></property>
		<property name="port" value="587"></property>
		<property name="username" value="praveenbill29@gmail.com"></property>
		<property name="password" value="PASSWORD"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:/messages"/> <!-- Do not provide the .properties extension -->
	</bean>


	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>